@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "Gaegu";
    src: url("/fonts/Gaegu-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    color-scheme: light dark;
}

body {
    font-family: "Gaegu", cursive;
    @apply bg-white text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100;
}
